@using Microsoft.AspNetCore.Components.QuickGrid
@page "/quickgrid"
@inject NavigationManager navigationManager

<h3>QuikGridDemo</h3>
@if(servers !=null)
{
    <QuickGrid Items="servers.AsQueryable()">
        <PropertyColumn Property="s => s.Name"></PropertyColumn>
        <PropertyColumn Property="s => s.City"></PropertyColumn>
        <TemplateColumn title="Status">
            @if(context.IsOnline)
            {
                <div style="color:green">
                    Online
                </div>
            }
            else
            {
                <div style="color:red">
                    Offline
                </div>
            }
        </TemplateColumn>
        <TemplateColumn Title="People Online">
            @if (context.IsOnline)
            {
                Random random = new Random();
                int randomNumber = random.Next(0, 500);
                <text>@randomNumber</text>
            }
            else
            {
                <text>N/A</text>
            }
        </TemplateColumn>
        <TemplateColumn>
            @if (context.IsOnline)
            {
                <button type="button"
                        class="btn btn-outline-danger"
                        @onclick="@(()=> {context.IsOnline = false;})">
                    Turn Off
                </button>

            }
            else
            {
                <button type="button"
                        class="btn btn-outline-success"
                        @onclick="@(()=> {context.IsOnline = true;})">
                    Turn On
                </button>
            }
        </TemplateColumn>
        <TemplateColumn>
            <a href="/servers/@context.ServerID" class="btn btn-link">Edit</a>
        </TemplateColumn>
        
        <TemplateColumn>
            <ChildContent Context="server">
                <EditForm Model="server"
                          FormName="@($"form-server-{server.ServerID}")"
                          OnValidSubmit="@(() => { DeleteServer(server.ServerID); })">
                    <button type="submit" class="btn btn-primary">Delete</button>
                </EditForm>
            </ChildContent>
            
</TemplateColumn>
    </QuickGrid>
}


@code {
    private List<Server>? servers = ServersRepository.GetServers();
    private void DeleteServer(int serverID)
    {
        if (serverID > 0)
        {
            ServersRepository.DeleteServer(serverID);
            navigationManager.NavigateTo("/servers", true);
        }


    }
}
